@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h1 id="h1id" class="headstyle"> Welcome to ONLINE SHOPPING STORE!</h1>
    <h3 class="lead">@ViewBag.Title!..</h3>
</div>




<!-- start view prodect -->
<div>
    <p>If you have the desire to buy, a ONLINE SHOPPING STORE satisfies your desires immediately.
    It is an invitation that is not linked to a specific time, place or occasion.
    You must fulfill your desire to eat the best of our products in a ONLINE SHOPPING STORE.
    We strive in a ONLINE SHOPPING STORE to invent the most creative ways to share with you true happiness every day.
    ONLINE SHOPPING STORE believes in the joy of giving in order to It delivers an unparalleled sense of satisfaction.
    If you have the desire to buy, a ONLINE SHOPPING STORE satisfies your desires immediately.
    It is an invitation that is not linked to a specific time, place or occasion.
    You must fulfill your desire to eat the best of our products in a ONLINE SHOPPING STORE.
    We strive in a ONLINE SHOPPING STORE to invent the most creative ways to share with you true happiness every day.
    ONLINE SHOPPING STORE believes in the joy of giving in order to It delivers an unparalleled sense of satisfaction.
    </p>
</div>
<!-- End view prodect -->
