@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1 id="h1id" class="headstyle"> Welcome to ONLINE SHOPPING STORE!</h1>
    <h3 class="lead">@ViewBag.Title!..</h3>
</div>

<address>
   
    <abbr title="Phone">P:</abbr>
    966500227027
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:abdullah.s.allhyani@gmail.com">abdullah.s.allhyani@gmail.com</a><br />
</address>