
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1 id="h1id" class="headstyle"> Welcome to ONLINE SHOPPING STORE!</h1>
    <h3 class="lead">@ViewBag.Title!..</h3>
</div>
<h2>Location</h2>
<div class="fa-location-arrow">
    Kingdom Saudi Arabia
    Makkah
    Umrah neighborhood
    Next to the Sayeda Aisha Mosque
    zipcode:356367
</div>
